<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>POI dialog</title>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8" charset="UTF-8"/>
</head>
<body>
<div id="chat">
    <div id="from-watson">
        <p th:text="${drawInClientDto.watsonOutputText}">Has no response from watson yet</p>
    </div>

    <!--
        predefinedButtons = [
                                Button.action - what is send to Watson
                                      .label - what is displayed to user
                            ]
    -->

    <div id="reply">
        <form action="#" th:action="@{/poi/continue}" th:object="${formBackingDto}" method="post">
            <p><!--context:--> <input type="hidden" id="context" name="context" th:value="${drawInClientDto.watsonOutputContext}" /></p>

            <div th:if="${!drawInClientDto.supressUserInput}" id="input-user-reply">
                <p>input: <input type="text" th:field="*{input}" placeholder="tvoje odpoved"/><button name="action" type="submit" value="send">Odeslat vstup</button></p>
            </div>

            <div th:each="button: ${drawInClientDto.buttons}" id="predefined-user-reply">
                <p><button  th:object="${button}" name="action" type="submit" th:value="${button.action}" th:text="${button.label}">Vzorový label</button></p>
            </div>

            <div id="back-buttons">
                <!-- allways present back buttons -->
                <p><button name="action" type="submit" value="back" >zpět</button></p>
                <p><button name="action" type="submit" value="reset" >reset</button></p>

            </div>
        </form>
    </div>

</div>
</body>
</html>