<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>POI dialog</title>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8" />
</head>
<body>
    <div input="chat">
        <div input="from-watson">
            <p th:text="${inFromWatson}">Has no response from watson yet</p>
        </div>
        <form action="#" th:action="@{/poi/result}" th:object="${dtoTextAndContext}" method="post">
            <p>input: <input type="text" th:field="*{input}" th:value="${preDefinedFromUser}"/></p>
            <p>context: <input type="text" id="context" name="context" th:value="${inContext}" /></p>

            <p><input type="submit" value="Odeslat"/></p>
        </form>
    </div>
</body>
</html>